.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Main-box {
  position: relative;
  width: 90%;
  /* Main box width set to 80vh */
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40%;
}

.Next-button {
  display: flex;
  background-image: url("./background/nextbutton.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 10%;
  margin-top: 5%;
  border: none;
  border-radius: 10px;
  color: white;
}

.First-page {
  position: relative;
  background-color: rgba(200, 200, 200, 0);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  border: none;
  transition: 2s ease;
}

.OpeningText {
  padding-bottom: 3vh;
  text-align: center;
  /* Center the text horizontally */
}

.SecondPageBox {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 10%;
  margin-left: 20%;
  margin-bottom: 100%;
  font-size: medium;
  justify-content: center;
  background-image: url("./background/Bblur.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20%;

}

.Username-input {
  position: relative;
  display: flex;
  width: 90%;
  height: 20%;
  text-justify: center;
  box-sizing: border-box;
  /* Ensures padding/border don't overflow */
  padding-left: 5%;
  /* Add padding inside the input field */
  font-size: small;
  background-color: #FFFFFF;
  border: none;
  /* No border by default */
  border-radius: 10px;
  outline: none;
  /* Remove default focus outline */
}

.Username-input:focus {
  border: 2px solid #9881EA;
  /* Border color when focused */
  outline: none;
  /* Keep the default outline removed */
}


.secondPageLastBox {
  display: flex;
  background-image: url("./background/Bblur.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  height: 20%;
  font-size: 75%;
  font-size: medium;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin-top: 10%;
  margin-bottom: 100%;
}

.ThridPageMessage {
  display: flex;
  background-image: url("./background/Bblur.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  font-size: medium;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.ThirdBgBox {
  display: flex;
  margin-top: 80%;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.RatingBox {
  display: flex;
  width: 90%;
  height: 50%;
  margin-bottom: 50%;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-bottom: 5%;
  text-align: center;
  border: none;
}

.RatingBox-2 {
  display: flex;
  width: 85%;
  height: 30%;
  margin-bottom: 80%;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-bottom: 5%;
  text-align: center;
}

.RatingBox-3 {
  display: flex;
  width: 90%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-bottom: 5%;
  margin-bottom: 10%;
  text-align: center;
}

.RatingBox-4 {
  display: flex;
  width: 90%;
  height: 30%;
  margin-bottom: 50%;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  border: none;
}

.RatingBox-5 {
  display: flex;
  width: 90%;
  height: 60%;
  margin-bottom: 20%;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  border: none;
}


.CenterBox {
  display: flex;
  width: 90%;
  height: 30%;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.RatingText {
  display: flex;
  padding-top: 5%;
  width: 90%;
  height: auto;
  flex-direction: column;
  text-justify: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.choiceButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Full width */
  height: 14%;
  /* Set button height */
  font-size: small;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  /* Use a single color tone */
  border: 1px solid;
  border-color: #9881EA;
  /* Remove the border for simplicity */
  color: white;
  /* Set text color for contrast */
  color: #9881EA;
  cursor: pointer;
  /* Add a pointer cursor on hover */
}

.choiceButton-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Full width */
  height: 27%;
  /* Set button height */
  font-size: small;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  /* Use a single color tone */
  border: 1px solid;
  border-color: #9881EA;
  /* Remove the border for simplicity */
  color: white;
  /* Set text color for contrast */
  color: #9881EA;
  cursor: pointer;
  /* Add a pointer cursor on hover */
}

.buttonList {
  position: relative;
  width: 95%;
  height: 85%;
  /* Ensure it takes the full height */
  flex-direction: column;
  display: flex;
  /* Make sure it's a flex container */
  justify-content: space-evenly;
  /* Space between components */
}

.buttonList-2 {
  width: 95%;
  margin-top: 10%;
  height: 70%;
  /* Ensure it takes the full height */
  flex-direction: column;
  display: flex;
  /* Make sure it's a flex container */
  justify-content: space-between;
  /* Space between components */
}

.questionList {
  width: 95%;
  height: 70%;
  align-items: center;
  /* Ensure it takes the full height */
  flex-direction: column;
  display: flex;
  /* Make sure it's a flex container */
  justify-content: space-between;
  /* Space between components */
  margin-top: 5%;
}

.goalInput{
  position: relative;
  display: flex;
  width: 100%;
  height: 27%;
  text-justify: center;
  box-sizing: border-box;
  /* Ensures padding/border don't overflow */
  padding-left: 5%;
  /* Add padding inside the input field */
  font-size: small;
  background-color: #FFFFFF;
  border: none;
  /* No border by default */
  border-radius: 10px;
  outline: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  /* Remove default focus outline */
}

.goalInput:focus {
  border: 2px solid #9881EA;
  /* Border color when focused */
  outline: none;
  /* Keep the default outline removed */
}



.Messageinput {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 90%;
  height: 50%;
  margin-top: 5%;
  padding: 0.5rem;
  /* Adds space between the text and the edges */
  font-size: 16px;
  /* Adjust text size */
  text-align: left;
  /* Align text to the left */
  text-justify: center;
  flex-grow: 1;
}

.TopPageMessage {
  position: relative;
  display: flex;
  margin-bottom: 140%;
  flex-direction: column;
}

.CenterPageMessage {
  position: relative;
  display: flex;
  margin-bottom: 50%;
  flex-direction: column;
}

.FinalBox {
  display: flex;
  background-color: coral;
  width: 90%;
  height: 30%;
  margin-bottom: 70%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.FirstBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin-bottom: 25%;
}

.AnimateBox {
  position: relative;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  margin-bottom: 120%;
}

.SecondBox {
  position: relative;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  height: 10%;
  margin-bottom: 135%;
}

.MessageBox {
  position: relative;
  display: flex;
  background-image: url("./background/Bblur.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  flex-direction: column;
  width: 90%;
  margin-bottom: 100%;
  font-size: medium;
  padding: 10%;
}

.FinalPage {
  position: relative;
  display: flex;
  height: 80%;
  width: 90%;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.GiftBox {
  display: flex;
  align-items: center;
  margin-top: 5%;
  height: 70%;
  width: 100%;
  flex-direction: column;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.firstpagemessage {
  display: flex;
  background-image: url("./background/Bblur.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: medium;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 20%;
  flex-direction: column;
}

.messagebox-2 {
  display: flex;
  background-image: url("./background/Bblur.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: auto;
  font-size: medium;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  padding: 9%;
}

.messagebox-3 {
  display: flex;
  flex-direction: column;
  background-image: url("./background/Bblur.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: medium;
  width: 90%;
  height: 10%;
  justify-content: center;
  align-items: center;
  padding: 20%;
  margin-bottom: 90%;
}


.GiftMessage {
  display: flex;
  width: 85%;
  height: 90%;
  margin: 5%;
  padding-top: 5%;
  padding-left: 5%;
  background-color: #D6CCF6;
  border-radius: 20px;
  flex-direction: column;
}

.FinalQoute {
  font-size: small;
  padding-bottom: 5%;
  text-align: center;
}

.savePicture {
  display: flex;
  height: 7%;
  width: 100%;
  margin-top: 5%;
  border-radius: 10px;
  border: none;
  background-color: #9881EA;
  font-size: medium;
  color: white;
  justify-content: center;
  align-items: center;
}

.ShareSite {
  display: flex;
  height: 7%;
  width: 100%;
  margin-top: 5%;
  border-radius: 10px;
  border: none;
  font-size: medium;
  background-color: white;
  color: #9881EA;
  justify-content: center;
  align-items: center;
}

.fingerPrint {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.zoom-level-0 {
  background-size: 100%;
}

.zoom-level-1 {
  background-size: 150%;
}

.zoom-level-2 {
  background-size: 200%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7%);
    /* Adjust the height as needed */
  }

  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 5s ease-in-out infinite;
}

@keyframes zoomIn {
  from {
    background-size: 120%;
    background-position-x: 0%;
    background-position-y: 0%;
  }

  to {
    background-size: 263%;
    background-position-x: 57%;
    background-position-y: 100%;
  }
}

.zoom-in {
  animation: zoomIn 2s ease forwards;
}

.questionbox-2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 60%;
  gap: 0px;
  border-radius: 10px;
  border: none;
  align-items: center;
}


.questionbox {
  position: relative;
  display: flex;
  width: 80%;
  height: 100%;
  margin-bottom: 20%;
  gap: 0px;
  padding: 3%;
  border-radius: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #61dafb;
  margin-top: 7%;
}

.questionbox::-webkit-input-placeholder {
  display: flex;
  background-color: #9881EA;
  width: 100%;
}

.questioncontainer {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30%;
}

.questioncontainer-2 {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 3s ease; /* Transition duration */
  opacity: 1;
}


/* Fade-in and fade-out classes */
.overlay.fade-in {
  opacity: 1;
}

.overlay.fade-out {
  opacity: 0;
  transition: opacity 3s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.saveIcon{
  padding-right: 3%;
}

.shareIcon{
  padding-right: 3%;
}

.Goals-3{
  padding-top: 3%;
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25%;
  padding-bottom: 4%;
  font-size: medium;
  color: #5b5b5b;
}

.answer{
  padding-top: 3%;
  padding-left: 3%;
  color: #5b5b5b;
}